{% load static from static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/chariot.min.js' %}"></script>
    <link rel=”stylesheet” href=”{% static 'css/chariot.min.css' %}”>

    <style>
        .chariot-button {
          background: white;
        }
      </style>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="title">
                    Today's Stock Price (ankit's test)
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                            </div>
                            <div class="control">
                            </div>
                        </div>
                        <div class="chariot-button">
                            <a href="#" class="tutorial-link"><span class="cta">Star The Tour</span></a> 
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title" id="microsoft">{{ company.city }}</span>
                                        <br>
                                        <span class="subtitle">Open : ${{ company.open }}</span>
                                        <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company.high }}</span>
                                        <br>
                                        <span class="subtitle">Close : ${{ company.close }}</span>
                                        <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company.low }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title" id="amazon">{{ company1.city1 }}</span>
                                        <br>
                                        <span class="subtitle">Open : ${{ company1.open }}</span>
                                        <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company1.high }}</span>
                                        <br>
                                        <span class="subtitle">Close : ${{ company1.close }}</span>
                                        <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company1.low }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>

    <script>
$(function() {
  $('.tutorial-link').click(function() {
    chariot.startTutorial([
    {
    selectors: 'h1#title',
    tooltip: {
      position: 'bottom',
      title: 'Part 1',
      text: 'This is an example tutorial I set up.'
        }
    },
    {
        selectors: "span#microsoft",
        tooltip: {
            position: 'bottom',
            title: 'Part 2',
            text:'Check out the second part of the tutorial'
        }
    },
    {
        selectors: "span#amazon",
        tooltip: {
            position: 'bottom',
            title: 'Part 3',
            text:'Check out the third part of the tutorial'
        }
    }
    ]);
  });
});
</script>
</body>
</html>