<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
        <link href="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/release/chariot.css" rel="stylesheet"> 
        <link href="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/example/example-tooltip.css" rel="stylesheet"> 
        <script src="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/release/chariot.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="module" src="../static/js/tooltips.js"></script>
        

        <h1 class="title" style="text-align: center">Welcome to Finagic!</h1>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title" id="microsoft">{{ company.city }}</span>
                                            <br>
                                            <span class="subtitle">Open : ${{ company.open }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company.high }}</span>
                                            <br>
                                            <span class="subtitle">Close : ${{ company.close }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company.low }}</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title" id="amazon">{{ company1.city1 }}</span>
                                            <br>
                                            <span class="subtitle">Open : ${{ company1.open }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company1.high }}</span>
                                            <br>
                                            <span class="subtitle">Close : ${{ company1.close }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company1.low }}</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>