{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script>(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
            0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
            for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
            MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
            mixpanel.init("734e43c12bbae91418c0a1902c9ce5d1", {batch_requests: true})</script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
        <link href="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/release/chariot.css" rel="stylesheet"> 
        <link href="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/example/example-tooltip.css" rel="stylesheet"> 
        <script src="https://cdn.jsdelivr.net/npm/chariot-tooltips@1.0.0/release/chariot.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script>window.$ = window.jQuery;

        var char = new chariot({
            example4: [
                {
                    selectors: 'h1',
                    tooltip : {
                        position: 'bottom',
                        title: 'Chariot Example Tutorial',
                        text: 'This example tutorial will walk you through an html page. It is built using chariot.js'
                    }
                },
        
              {
                selectors: 'span#amazon',
                tooltip: {
                  position: 'right',
                  title: 'Microsoft',
                  text: 'This tutorial box can tell you something important about Microsoft like: "Microsoft has a market cap of 1.56 Tillion Dollars"'
                }
              },
              {
                selectors: 'span#microsoft',
                tooltip: {
                  position: 'bottom',
                  title: 'Amazon',
                  text: "Amazon's market cap is 1.44 Trillion Dollars - $1,400,000,000,000 (that's 11 zeroes!)"
                }
              }
            ]
          });
        
          char.startTutorial('example4')
        </script>

        <h1 class="title" style="text-align: center">Welcome to Finagic! (Ankit's Demo Site)</h1>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title" id="microsoft">{{ company.city }}</span>
                                            <br>
                                            <span class="subtitle">Open : ${{ company.open }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company.high }}</span>
                                            <br>
                                            <span class="subtitle">Close : ${{ company.close }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company.low }}</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title" id="amazon">{{ company1.city1 }}</span>
                                            <br>
                                            <span class="subtitle">Open : ${{ company1.open }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;High : ${{ company1.high }}</span>
                                            <br>
                                            <span class="subtitle">Close : ${{ company1.close }}</span>
                                            <span class="subtitle">&nbsp;&nbsp;&nbsp;Low : ${{ company1.low }}</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>